img {
	padding-top: 0.3em;
	align-self: center;
	display: flex;
	height: 3em;
	width: 5em;
}


.currentContainer {
	display: flex;
	flex-direction: column;
	width: 9em;
	float: left;
	padding-left: 0.5em;
	margin:0.5em;
	text-decoration: none;
	color: black
}

.Loading {
	margin-top: 10em;
}

.currentContainer:visited {
	color: black
}

.currentContainer:hover {
	box-shadow: 0px 0px 20px 1px rgba(48, 46, 46, 0.25)
}

@media (max-width: 1040px) {
	.currentContainer {
		display: flex;
		flex-direction: column;
		width: 8em;
		float: left;
		padding-left: 0.5em;
		margin:0.5em;
		text-decoration: none;
		color: black
	}
}