
.BackButton {
	position: relative;
	height: 30px;
	width: 50px;
	float: right;
	transform: translate(-10vw, -15vh);
	
}

.BackButton:hover {
	box-shadow: 0px 0px 20px 1px rgba(48, 46, 46, 0.25);
	background-color: rgb(214, 211, 211);
	cursor: pointer;
}