.Calendar {
	display: flex;
	float: left;
	margin: 4em;
	margin-left: 12em;
	margin-top: 6em;
	padding: 5px;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
}

.clickbox {
	margin-top: 5em;
}

.submit {
	height: 2em;
	width: 7em;
	left: 20%;
	top: 2%;
}

.unavailabilities {
	float: right;
	display: flex;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	width: 25em;
	height: 21.5em;
	margin-top: 6em;
	margin-right: 12em;
}

.unavailableList {
	position: sticky;
	height: 17em;
	width: 100%;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
}

.remove {
	position: absolute;
	transform: translate(-10em, 21em);
	height: 2em;
	width: 7em;
}