.Calendar {
	background-color: white;
	display: flex;
	float: left;
	margin: 4em;
	margin-left: 12em;
	margin-top: 6em;
	padding: 5px;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
}

.clickbox {
	margin-top: 5em;
}

.submit {
	height: 2em;
	width: 7em;
	left: 20%;
	top: 2%;
}

.unavailability {
	flex-wrap: wrap;
	float: right;
	display: flex;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	width: 25em;
	height: 21.5em;
	margin-top: 6em;
	margin-right: 12em;
}

.unavailabilityList {
	overflow: auto;
	height: 17em;
	width: 25em;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
}

.remove {
	transform: translate(30px, 0px);
	height: 2em;
	width: 7em;
}

.unavailabilityItem {
	background-color: rgba(105, 105, 105, 0.5);
	width: 100%;
	height: 50px;
	margin-bottom: 3px;
}

.unavailabilityItem:hover {
	box-shadow: 0px 0px 20px 1px rgba(48, 46, 46, 0.25);
	cursor: pointer;
}

.unavailabilityItem:first-of-type {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	
}

@media (max-width: 1474px) {

	.Calendar {
		display: flex;
		float: left;
		margin: 4em;
		margin-right: auto;
		margin-left: 30%;
		margin-top: 6em;
		padding: 5px;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
	}

	.unavailability {
		float: right;
		display: flex;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
		width: 25em;
		height: 21.5em;
		margin-top: 2em;
		margin-right: 35%;
		margin-left: auto;
		margin-bottom: 1em;
	}

}

@media (max-width: 1080px) {

	.Calendar {
		display: flex;
		float: left;
		margin: 4em;
		margin-right: auto;
		margin-left: 15%;
		margin-top: 6em;
		padding: 5px;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
	}

	.unavailability {
		float: left;
		display: flex;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
		width: 25em;
		height: 21.5em;
		margin-top: 2em;
		margin-right: auto;
		margin-left: 15%;
		margin-bottom: 1em;
	}

}

@media (max-width: 600px) {
	
	.Calendar {
		flex-direction: column;
		display: flex;
		float: none;
		margin: 4em;
		margin-right: 0.1em;
		margin-left: 0.1em;
		margin-top: 3em;
		padding: 5px;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
	}

	.unavailability {
		float: none;
		display: flex;
		border: 1px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
		width: 100%;
		height: 21.5em;
		margin-top: -2em;
		margin-right: 0em;
	}

	.remove {
		position: absolute;
		transform: translate(-8em, 21em);
		height: 2em;
		width: 7em;
	}
	

	.clickbox {
		display: flex;
		flex-direction: row;
		margin-top: -3em;
		margin-left: 3em;
	}

	.once {
		position: absolute;
		display: flex;
		float: left;
		width: 15em;
	}

	.recurring {
		transform: translate(10em, 0px);
		display: flex;
		float: right;
		width: 15em;
	}

	.submit {
		height: 2em;
		width: 7em;
		left: 20%;
		top: 2%;
		margin-top: 3em;
	}
}