.bar{
	background-color: rgba(71, 103, 163, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	margin: 3em; 
}

.bar:hover {
	box-shadow: 0px 0px 20px 1px rgba(48, 46, 46, 0.55);
	cursor: pointer;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
	width: 20em;
}

@media (max-width: 1040px) {
	.bar{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		text-align: center;
		margin: 3em;
		margin-left: 0.3em;
		margin-right: 0.3em;
	}
	
}