.preview {
	position: sticky;
	overflow: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	margin: 3em; 
	margin-top: -3em;
	height: 35em;
	scroll-behavior: smooth;
}
